<!-- wp:template-part {"slug":"header","theme":"blackcart","tagName":"header"} /-->

<!-- wp:template-part {"slug":"main-banner","theme":"blackcart","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"block-template"} -->
<main class="wp-block-group block-template"><!-- wp:group -->
<div class="wp-block-group"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group">
<!-- wp:template-part {"slug":"product-collection","theme":"blackcart","tagName":"product-collection"} /-->
<!-- wp:template-part {"slug":"call-to-action-1","theme":"blackcart","tagName":"call-to-acion-1"} /-->

<!-- wp:template-part {"slug":"all-products","theme":"blackcart","tagName":"all-products"} /-->
<!-- wp:template-part {"slug":"download-application","theme":"blackcart","tagName":"download-application"} /-->

<!-- wp:template-part {"slug":"we-offer","theme":"blackcart","tagName":"we-offer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-three-column","theme":"blackcart","tagName":"footer","className":"block-template"} /-->
<!-- wp:pattern {"slug":"blackcart/footer-default", "theme":"blackcart","tagName":"footer","className":"block-template"} /-->